<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to SkyPass</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }

      .logo {
        text-align: center;
        margin-bottom: 20px;
      }

      .logo img {
        max-width: 150px;
      }

      .message {
        text-align: center;
        margin-bottom: 20px;
      }

      .message h2 {
        color: #333;
        font-size: 24px;
        margin: 10px 0;
      }

      .message p {
        color: #666;
        font-size: 16px;
        margin: 10px 0;
      }

      .footer {
        text-align: center;
        margin-top: 20px;
      }

      .footer p {
        color: #999;
        font-size: 14px;
        margin: 5px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img
          src="https://ik.imagekit.io/widsxzwvg/final/skypass.png?updatedAt=1686473004986"
          alt="SkyPass Logo"
        />
      </div>
      <div class="message">
        <h2>Welcome to SkyPass</h2>
        <p>Congratulations! You have successfully registered and verified your account.</p>
        <p>Thank you for choosing SkyPass as your flight ticket booking platform.</p>
        <p>Feel free to explore our website and start planning your next trip.</p>
        <p>Happy travels!</p>
      </div>
      <div class="footer">
        <p>Best regards,</p>
        <p>The SkyPass Team</p>
      </div>
    </div>
  </body>
</html>
